/*#show-things{
  display: none;
}*/

#things{
  cursor: pointer;
  color: #0088cc;
}

#things:hover {
  text-decoration: underline;
}

.done {
  text-decoration: line-through;
}

.outputItem {
  text-decoration: line-through;
}
